<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sim" class="org.demo.Jio"/>
    <bean id="question" class="org.qa.Question">
        <constructor-arg value="18"></constructor-arg>
        <constructor-arg value="What is Java?"></constructor-arg>
        <constructor-arg>
            <list>
                <value>"Java is Independent Programming Language"</value>
                <value>"Oracle Java is the #1 programming language and development platform."</value>
                <value>"It reduces costs, shortens development timeframes, drives innovation, and improves application
                    services"
                </value>
            </list>
        </constructor-arg>
    </bean>
    <bean id="e1" class="org.constructorinjection.Employee">
        <constructor-arg value="2363"></constructor-arg>
        <constructor-arg value="Ganesh"></constructor-arg>
        <constructor-arg ref="address1"></constructor-arg>
    </bean>
    <bean id="address1" class="org.constructorinjection.Address">
        <constructor-arg value="Rachabanda"/>
        <constructor-arg><value>Mgl</value></constructor-arg>
        <constructor-arg value="Telangana"></constructor-arg>
        <constructor-arg value="506006"></constructor-arg>
    </bean>
    <bean id="si" class="org.setterinjection.Student">
        <property name="id" value="2363"/>
        <property name="name"><value>Ganesh</value></property>
        <property name="address">
            <list>
                <value>Rachabanda</value>
                <value>Mogilicherla</value>
                <value>Warangal</value>
                <value>506006</value>
            </list>
        </property>
    </bean>
</beans>